<form action="/names" method="post" >
<label>Player numero 1:</label>
<input type="text" name="player1">
<label>Player numero 2:</label>
<input type="text" name="player2">
<button type="submit">Submit</button>
</form>